# Visual Studio
.vs/
*.user
*.suo

# Build output
obj/
bin/
out/

# Secrets & config
appsettings.Development.json
secrets.json

# Python
__pycache__/
*.pyc
.venv/
venv/
env/
temp_uploads/



# Downloads (genererade filer)
**/Downloads/

# OS
Thumbs.db
.DS_Store
